{erl_opts, [ debug_info ]}.

{deps, [
    {lager, ".*", {git, "git@github.com:basho/lager.git", {tag, "2.1.1"}}},
    {jsx, [], {git, "https://github.com/talentdeficit/jsx.git", {tag, "v2.6.1"}}},
    {erollbar, ".*", {git, "git@github.com:lrascao/erollbar.git",
            {branch, "develop"}}}
  ]}.
